{% extends 'template_site.html.twig' %}
{% block title %}contact{% endblock %}

{% block body %}
    <!-- Page Title -->
    <div class="page-title">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Contact</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{{path('app_home')}}">Accueil</a></li>
            <li class="current">Contact</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="mb-4" data-aos="fade-up" data-aos-delay="200">
          <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d3978.4901673754875!2d15.313521474132022!3d-4.318604495655377!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sN%C2%B03%2C%20Avenue%20Croix%20-%20Rouge%20%20Q%2F%20Mozindo%20%20C%2FBarumbu%2C%20Kinshasa%2C%20RDC!5e0!3m2!1sfr!2scd!4v1727034064057!5m2!1sfr!2scd" frameborder="0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div><!-- End Google Maps -->

        <div class="row gy-4">

          <div class="col-lg-4">
            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h3>Adresse</h3>
                <p>N°3, Avenue Croix - Rouge</p>
              <p>Q/ Mozindo</p>
              <p>C/Barumbu, Kinshasa, RDC</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>Appelez nous</h3>
                <p class="mt-3"><a href="tel:+243813197098" style="text-decoration: none;">Tél: +243 81 31 97 098</a></p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="500">
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                
                <p><a href="mailto:info@unc.com?subject=Contact" style="text-decoration: none;">Email:info@unc.icu</a></p>
              </div>
            </div><!-- End Info Item -->

          </div>

          <div class="col-lg-8">
            {% for label, messages in app.flashes %}
              <div class="alert alert-{{ label }} mt-3">
                {% for message in messages %}
                  <p>{{ message }}</p>
                {% endfor %}
              </div>
            {% endfor %}
            {{ form_start(contactForm) }}
              <div class="row gy-4">
                <div class="col-md-6">
                 {{ form_row(contactForm.name) }}
                </div>
                <div class="col-md-6">
                  {{ form_row(contactForm.email) }}
                </div>
                <div class="col-md-12">
                  {{ form_row(contactForm.subject) }}
                </div>
                <div class="col-md-12">
                  {{ form_row(contactForm.message) }}
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Envoyer</button>
            {{ form_end(contactForm) }}
          </div><!-- End Contact Form -->

        </div>

      </div>

    </section><!-- /Contact Section -->

{% endblock %}