{% extends 'template_site.html.twig' %}
{% block title %}accueil{% endblock %}
{% block body %}
    <!-- Slider Section = Section de l'entête -->
    <section id="slider" class="slider section dark-background">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">

          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "centeredSlides": true,
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "navigation": {
                "nextEl": ".swiper-button-next",
                "prevEl": ".swiper-button-prev"
              }
            }
          </script>

          <div class="swiper-wrapper">

            <div class="swiper-slide" style="background-image: url('{{asset("zenblog/assets/img/post-slide-1.jpeg")}}');">
              <div class="content">
                <h2 style="color=red;"><a href="#">UNC !</a></h2>
                <p>Mopepe ya sika </p>
              </div>
            </div>

            <div class="swiper-slide" style="background-image: url('{{asset("zenblog/assets/img/post-slide-2.jpg")}}');">
              <div class="content">
                <h2><a href="#">UNC !</a></h2>
                <p>Mokolo tonga !</p>
              </div>
            </div>

            <div class="swiper-slide" style="background-image: url('{{asset("zenblog/assets/img/post-slide-3.jpg")}}');">
              <div class="content">
                <h2><a href="#">UNC !</a></h2>
                <p>Abotoli tonga !</p>
              </div>
            </div>

            <div class="swiper-slide" style="background-image: url('{{asset("zenblog/assets/img/post-slide-4.jpg")}}');">
              <div class="content">
                <h2><a href="#">UNC !</a></h2>
                <p>Oko tonga na nini?</p>
              </div>
            </div>

            <div class="swiper-slide" style="background-image: url('{{asset("zenblog/assets/img/post-slide-3.jpg")}}');">
              <div class="content">
                <h2><a href="#">UNC !</a></h2>
                <p>Toujours ensemble </p>
              </div>
            </div>
          </div>

          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>

          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- /Slider Section -->

    <!-- Trending Category Section = les catégories qui ont les plus d'articles de publication -->
    <section id="trending-category" class="trending-category section">
      {% set categories = category_service.getTopCategories() %}
      {% set topCommentedTopics = topic_service.getTopCommentedTopics() %}

  

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="container" data-aos="fade-up">
          <div class="row g-5">
           {% if categories is defined and categories is not null %}

            <div class="col-lg-4">
              <!-- FROM BING -->
              <div class="post-entry lg">
                    <a href="{{ path('app_category_show', { 'id': categories.mainCategory.id }) }}">
                        <img src="{{ asset('uploads/pictures/' ~ categories.mainCategory.image) }}" alt="{{ categories.mainCategory.name }}" class="img-fluid">
                    </a>
                    <div class="post-meta">
                        <span class="date">{{ categories.mainCategory.name }}</span>
                        <span class="mx-1">•</span>
                        <span>{{ categories.mainCategory.createdAt|date('M jS \'y') }}</span>
                    </div>
                    <h2>
                        <a href="{{ path('app_category_show', { 'id': categories.mainCategory.id }) }}">
                            {{ categories.mainCategory.name }}
                        </a>
                    </h2>
                    <p class="mb-4 d-block">{{ categories.mainCategory.description|length > 150 ? categories.mainCategory.description|slice(0, 150) ~ '...' : categories.mainCategory.description }}</p>
                    <div class="d-flex align-items-center author">
                        <div class="photo">
                          {% if categories.mainCategory.author.photo is defined %}
                            <img src="{{ asset('uploads/photos/' ~ categories.mainCategory.author.photo ) }}" alt="{{ categories.mainCategory.author.firstname }}" class="img-fluid">
                          {% else %}
                              <img src="{{ asset('uploads/photos/apple-touch-icon.jpg') }}" alt="{{ categories.mainCategory.author.firstname }}" class="img-fluid">
                          {% endif %}
                        </div>
                        <div class="name">
                            <h3 class="m-0 p-0">{{ categories.mainCategory.author.firstname }}</h3>
                        </div>
                    </div>
              </div>
              <!-- END FROM BING -->
            </div>

            <div class="col-lg-8">
              <div class="row g-5">
                <div class="col-lg-4 border-start custom-border">
                  <div class="post-entry">
                   {% for category in categories.firstTwoCategories %}
                    <a href="{{ path('app_category_show', { 'id': category.id }) }}">
                      <img src="{{ asset('uploads/pictures/' ~ category.image) }}" alt="{{ category.name }}" class="img-fluid">
                    </a>
                    <div class="post-meta">
                      <span class="date">{{ category.name }}</span>
                      <span class="mx-1">•</span>
                      <span>{{ category.createdAt|date('M jS \'y') }}</span>
                    </div>
                    <h2>
                      <a href="{{ path('app_category_show', { 'id': category.id }) }}">
                       {{ category.name }}
                      </a>
                    </h2>
                   {% endfor %}
                  </div>       
                </div>
                <div class="col-lg-4 border-start custom-border">
                    {% for category in categories.lastTwoCategories %}
                      <div class="post-entry">
                        <a href="{{ path('app_category_show', { 'id': category.id }) }}">
                          <img src="{{ asset('uploads/pictures/' ~ category.image) }}" alt="{{ category.name }}" class="img-fluid">
                        </a>
                        <div class="post-meta">
                          <span class="date">{{ category.name }}</span>
                          <span class="mx-1">•</span>
                          <span>{{ category.createdAt|date('M jS \'y') }}</span>
                        </div>
                        <h2>
                          <a href="{{ path('app_category_show', { 'id': category.id }) }}">
                             {{ category.name }}
                          </a>
                        </h2>
                      </div>
                    {% endfor %}               
                </div>
                <div class="col-lg-4">{% if topCommentedTopics is defined and categories is not null %}
                  <div class="trending">
                      <h3>Populaire</h3>
                      <ul class="trending-post">
                          {% for topic in topCommentedTopics %}
                              <li>
                                  <a href="{{ path('app_topic_show', { 'id': topic.id }) }}">
                                      <span class="number">{{ loop.index }}</span>
                                      <h3>{{ topic.title }}</h3>
                                      <span class="author">{{ topic.author.firstname }}</span>
                                  </a>
                              </li>
                          {% endfor %}
                      </ul>
                  </div>{% endif %}
                </div> <!-- End Trending Section -->
                
              </div>
            </div>
           {% endif %}
          </div> <!-- End .row -->
        </div>

      </div>

    </section><!-- /Trending Category Section -->

    {# <!-- Culture Category Section -->
    <section id="culture-category" class="culture-category section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <div class="section-title-container d-flex align-items-center justify-content-between">
          <h2>Culture</h2>
          <p><a href="#">See All Culture</a></p>
        </div>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row">
          <div class="col-md-9">

            <div class="d-lg-flex post-entry">
              <a href="#" class="me-4 thumbnail mb-4 mb-lg-0 d-inline-block">
                <img src="{{asset('zenblog/assets/img/post-landscape-6.jpg')}}" alt="" class="img-fluid">
              </a>
              <div>
                <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">•</span> <span>Jul 5th '22</span></div>
                <h3><a href="#">What is the son of Football Coach John Gruden, Deuce Gruden doing Now?</a></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio placeat exercitationem magni voluptates dolore. Tenetur fugiat voluptates quas, nobis error deserunt aliquam temporibus sapiente, laudantium dolorum itaque libero eos deleniti?</p>
                <div class="d-flex align-items-center author">
                  <div class="photo"><img src="{{asset('zenblog/assets/img/person-2.jpg')}}" alt="" class="img-fluid"></div>
                  <div class="name">
                    <h3 class="m-0 p-0">Wade Warren</h3>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-4">
                <div class="post-list border-bottom">
                  <a href="#"><img src="{{asset('zenblog/assets/img/post-landscape-1.jpg')}}" alt="" class="img-fluid"></a>
                  <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">•</span> <span>Jul 5th '22</span></div>
                  <h2 class="mb-2"><a href="#">11 Work From Home Part-Time Jobs You Can Do Now</a></h2>
                  <span class="author mb-3 d-block">Jenny Wilson</span>
                  <p class="mb-4 d-block">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero temporibus repudiandae, inventore pariatur numquam cumque possimus</p>
                </div>

                <div class="post-list">
                  <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">•</span> <span>Jul 5th '22</span></div>
                  <h2 class="mb-2"><a href="#">5 Great Startup Tips for Female Founders</a></h2>
                  <span class="author mb-3 d-block">Jenny Wilson</span>
                </div>
              </div>
              <div class="col-lg-8">
                <div class="post-list">
                  <a href="#"><img src="{{asset('zenblog/assets/img/post-landscape-2.jpg')}}" alt="" class="img-fluid"></a>
                  <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">•</span> <span>Jul 5th '22</span></div>
                  <h2 class="mb-2"><a href="#">How to Avoid Distraction and Stay Focused During Video Calls?</a></h2>
                  <span class="author mb-3 d-block">Jenny Wilson</span>
                  <p class="mb-4 d-block">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero temporibus repudiandae, inventore pariatur numquam cumque possimus</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="post-list border-bottom">
              <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">•</span> <span>Jul 5th '22</span></div>
              <h2 class="mb-2"><a href="#">How to Avoid Distraction and Stay Focused During Video Calls?</a></h2>
              <span class="author mb-3 d-block">Jenny Wilson</span>
            </div>

            <div class="post-list border-bottom">
              <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">•</span> <span>Jul 5th '22</span></div>
              <h2 class="mb-2"><a href="#">17 Pictures of Medium Length Hair in Layers That Will Inspire Your New Haircut</a></h2>
              <span class="author mb-3 d-block">Jenny Wilson</span>
            </div>

            <div class="post-list border-bottom">
              <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">•</span> <span>Jul 5th '22</span></div>
              <h2 class="mb-2"><a href="#">9 Half-up/half-down Hairstyles for Long and Medium Hair</a></h2>
              <span class="author mb-3 d-block">Jenny Wilson</span>
            </div>

            <div class="post-list border-bottom">
              <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">•</span> <span>Jul 5th '22</span></div>
              <h2 class="mb-2"><a href="#">Life Insurance And Pregnancy: A Working Mom’s Guide</a></h2>
              <span class="author mb-3 d-block">Jenny Wilson</span>
            </div>

            <div class="post-list border-bottom">
              <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">•</span> <span>Jul 5th '22</span></div>
              <h2 class="mb-2"><a href="#">The Best Homemade Masks for Face (keep the Pimples Away)</a></h2>
              <span class="author mb-3 d-block">Jenny Wilson</span>
            </div>

            <div class="post-list border-bottom">
              <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">•</span> <span>Jul 5th '22</span></div>
              <h2 class="mb-2"><a href="#">10 Life-Changing Hacks Every Working Mom Should Know</a></h2>
              <span class="author mb-3 d-block">Jenny Wilson</span>
            </div>
          </div>
        </div>

      </div>

    </section><!-- /Culture Category Section -->

    <!-- Business Category Section -->
    <section id="business-category" class="business-category section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <div class="section-title-container d-flex align-items-center justify-content-between">
          <h2>Business</h2>
          <p><a href="#">See All Business</a></p>
        </div>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row">
          <div class="col-md-9 order-md-2">

            <div class="d-lg-flex post-entry">
              <a href="#" class="me-4 thumbnail d-inline-block mb-4 mb-lg-0">
                <img src="{{asset('zenblog/assets/img/post-landscape-3.jpg')}}" alt="" class="img-fluid">
              </a>
              <div>
                <div class="post-meta"><span class="date">Business</span> <span class="mx-1">•</span> <span>Jul 5th '22</span></div>
                <h3><a href="#">What is the son of Football Coach John Gruden, Deuce Gruden doing Now?</a></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio placeat exercitationem magni voluptates dolore. Tenetur fugiat voluptates quas, nobis error deserunt aliquam temporibus sapiente, laudantium dolorum itaque libero eos deleniti?</p>
                <div class="d-flex align-items-center author">
                  <div class="photo"><img src="{{asset('zenblog/assets/img/person-4.jpg')}}" alt="" class="img-fluid"></div>
                  <div class="name">
                    <h3 class="m-0 p-0">Wade Warren</h3>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-4">
                <div class="post-list border-bottom">
                  <a href="#"><img src="{{asset('zenblog/assets/img/post-landscape-5.jpg')}}" alt="" class="img-fluid"></a>
                  <div class="post-meta"><span class="date">Business</span> <span class="mx-1">•</span> <span>Jul 5th '22</span></div>
                  <h2 class="mb-2"><a href="#">11 Work From Home Part-Time Jobs You Can Do Now</a></h2>
                  <span class="author mb-3 d-block">Jenny Wilson</span>
                  <p class="mb-4 d-block">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero temporibus repudiandae, inventore pariatur numquam cumque possimus</p>
                </div>

                <div class="post-list">
                  <div class="post-meta"><span class="date">Business</span> <span class="mx-1">•</span> <span>Jul 5th '22</span></div>
                  <h2 class="mb-2"><a href="#">5 Great Startup Tips for Female Founders</a></h2>
                  <span class="author mb-3 d-block">Jenny Wilson</span>
                </div>
              </div>
              <div class="col-lg-8">
                <div class="post-list">
                  <a href="#"><img src="{{asset('zenblog/assets/img/post-landscape-7.jpg')}}" alt="" class="img-fluid"></a>
                  <div class="post-meta"><span class="date">Business</span> <span class="mx-1">•</span> <span>Jul 5th '22</span></div>
                  <h2 class="mb-2"><a href="#">How to Avoid Distraction and Stay Focused During Video Calls?</a></h2>
                  <span class="author mb-3 d-block">Jenny Wilson</span>
                  <p class="mb-4 d-block">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero temporibus repudiandae, inventore pariatur numquam cumque possimus</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="post-list border-bottom">
              <div class="post-meta"><span class="date">Business</span> <span class="mx-1">•</span> <span>Jul 5th '22</span></div>
              <h2 class="mb-2"><a href="#">How to Avoid Distraction and Stay Focused During Video Calls?</a></h2>
              <span class="author mb-3 d-block">Jenny Wilson</span>
            </div>

            <div class="post-list border-bottom">
              <div class="post-meta"><span class="date">Business</span> <span class="mx-1">•</span> <span>Jul 5th '22</span></div>
              <h2 class="mb-2"><a href="#">17 Pictures of Medium Length Hair in Layers That Will Inspire Your New Haircut</a></h2>
              <span class="author mb-3 d-block">Jenny Wilson</span>
            </div>

            <div class="post-list border-bottom">
              <div class="post-meta"><span class="date">Business</span> <span class="mx-1">•</span> <span>Jul 5th '22</span></div>
              <h2 class="mb-2"><a href="#">9 Half-up/half-down Hairstyles for Long and Medium Hair</a></h2>
              <span class="author mb-3 d-block">Jenny Wilson</span>
            </div>

            <div class="post-list border-bottom">
              <div class="post-meta"><span class="date">Business</span> <span class="mx-1">•</span> <span>Jul 5th '22</span></div>
              <h2 class="mb-2"><a href="#">Life Insurance And Pregnancy: A Working Mom’s Guide</a></h2>
              <span class="author mb-3 d-block">Jenny Wilson</span>
            </div>

            <div class="post-list border-bottom">
              <div class="post-meta"><span class="date">Business</span> <span class="mx-1">•</span> <span>Jul 5th '22</span></div>
              <h2 class="mb-2"><a href="#">The Best Homemade Masks for Face (keep the Pimples Away)</a></h2>
              <span class="author mb-3 d-block">Jenny Wilson</span>
            </div>

            <div class="post-list border-bottom">
              <div class="post-meta"><span class="date">Business</span> <span class="mx-1">•</span> <span>Jul 5th '22</span></div>
              <h2 class="mb-2"><a href="#">10 Life-Changing Hacks Every Working Mom Should Know</a></h2>
              <span class="author mb-3 d-block">Jenny Wilson</span>
            </div>
          </div>
        </div>

      </div>

    </section><!-- /Business Category Section --> #}

{% endblock %}