{# templates/topic/show.html.twig #}
{% extends 'template_site.html.twig' %}

{% block title %}{{ topic.title }}{% endblock %}

{% block javascripts %}
  <script src="{{ asset('js/comments.js') }}"></script>
{% endblock %}

{% block body %}

    {% set categoriesData = category_service.getTopCategories() %}
    {% set TopicsData = topic_service.getBestAuthorData() %}
    <!-- Page Title -->
    <div class="page-title">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">{{ topic.title }}</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{{ path('app_home') }}">Home</a></li>
            <li class="current">{{ topic.title }}</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <div class="container">
      <div class="row">

        <div class="col-lg-8">

          <!-- Blog Details Section -->
          <section id="blog-details" class="blog-details section">
            <div class="container">

              <article class="article">

                <div class="post-img">
                  <img src="{{ asset('uploads/pictures/' ~ topic.category.image) }}" alt="" class="img-fluid">
                </div>

                <h2 class="title">{{ topic.title }}</h2>

                <div class="meta-top">
                  <ul>
                    <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">{{ topic.author.username }}</a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="#"><time datetime="{{ topic.createdAt|date('Y-m-d') }}">{{ topic.createdAt|date('d M, Y') }}</time></a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="#">{{ topic.posts|length }} Comments</a></li>
                  </ul>
                </div><!-- End meta top -->

                <div class="content">
                  <blockquote>
                    <p>{{ topic.description }}</p>
                  </blockquote>
                  <p>{{ topic.content }}</p>
                </div><!-- End post content -->

                <div class="meta-bottom">
                  <i class="bi bi-folder"></i>
                  <ul class="cats">
                    <li><a href="#">{{ topic.category.name }}</a></li>
                  </ul>

                  <i class="bi bi-tags"></i>
                  <ul class="tags">
                    <li><a href="#">Creative</a></li>
                    <li><a href="#">Tips</a></li>
                    <li><a href="#">Marketing</a></li>
                  </ul>
                </div><!-- End meta bottom -->

              </article>

            </div>
          </section><!-- /Blog Details Section -->

          <!-- Blog Comments Section -->
          <section id="blog-comments" class="blog-comments section">
              <div class="container">
                  <h4 class="comments-count">{{ topic.posts|length }} Comments</h4>

                  <div id="comments">
                   {# | filter(post => post.isValidated) #}
                      {% for post in topic.posts %}
                        {{ include('post/_post.html.twig', { post: post }) }}
                      {% endfor %}
                  </div>

                  <!-- Comment Form Section -->
                  <section id="comment-form" class="comment-form section">
                      <div class="container">
                          <button id="comment-button" class="btn btn-primary">Comment</button>
                          <div id="comment-form-container"></div>
                      </div>
                  </section><!-- /Comment Form Section -->

                  <template id="comment-form-template">
                      {{ form_start(form, { 'attr': { 'id': 'comment-form' } }) }}
                          <h4>Post Comment</h4>
                          <p>Your email address will not be published. Required fields are marked * </p>
                          {% if not app.user %}
                              <div class="row">
                                  <div class="col-md-6 form-group">
                                      {{ form_row(form.name) }}
                                  </div>
                                  <div class="col-md-6 form-group">
                                      {{ form_row(form.email) }}
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col form-group">
                                      {{ form_row(form.website) }}
                                  </div>
                              </div>
                          {% endif %}
                          <div class="row">
                              <div class="col form-group">
                                  {{ form_row(form.content) }}
                              </div>
                          </div>
                          <div class="text-center">
                              <button type="submit" class="btn btn-primary">Post Comment</button>
                          </div>
                      {{ form_end(form) }}
                  </template>
              </div>
          </section><!-- /Blog Comments Section -->


        </div>

        <div class="col-lg-4 sidebar">

          <div class="widgets-container">

            {{ include('topic/_forum_aside.html.twig', { 
              categories: categoriesData.categories, 
              topics: TopicsData.topics, 
              user: TopicsData.bestAuthor,
              articleCount : TopicsData.articleCount,
              commentCount : TopicsData.commentCount
              }) }}

          </div>

        </div>

      </div>
    </div>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.reply').forEach(button => {
            button.addEventListener('click', function(event) {
                event.preventDefault();
                const parentId = this.getAttribute('data-parent-id');
                const form = document.querySelector('#comment-form-template').content.cloneNode(true);
                form.querySelector('form').setAttribute('data-parent-id', parentId);
                this.closest('.comment').appendChild(form);
            });
        });

        document.getElementById('comment-button').addEventListener('click', function() {
            const form = document.querySelector('#comment-form-template').content.cloneNode(true);
            document.getElementById('comment-form-container').appendChild(form);
        });

        document.addEventListener('submit', function(event) {
            if (event.target.matches('#comment-form')) {
                event.preventDefault();
                const form = event.target;
                const parentId = form.getAttribute('data-parent-id');
                const formData = new FormData(form);

                fetch(form.action, {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest'
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        const commentHtml = data.commentHtml;
                        if (parentId) {
                            document.querySelector(`[data-parent-id="${parentId}"]`).closest('.comment').querySelector('.replies').innerHTML += commentHtml;
                        } else {
                            document.querySelector('#comments').innerHTML += commentHtml;
                        }
                        form.remove();
                    } else {
                        alert('Error: ' + data.errors);
                    }
                });
            }
        });
      });
    </script>

{% endblock %}