<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Favicons -->
    <link href="{{asset('dropdown/assets/img/favicon.jpg')}}" rel="icon"><!-- TO DO TO DO TO DO TO DO -->
    <link href="{{asset('dropdown/assets/img/apple-touch-icon.jpg')}}" rel="apple-touch-icon">
    <title>Demande d'adhésion</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="{{ asset('css/register.css') }}">
    <script src="{{ asset('js/register.js') }}" defer></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" defer></script>
</head>
<body>

    <div class="form-container">
          {% for label, messages in app.flashes %}
        <div class="alert alert-{{ label }} alert-dismissible fade show">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
      {% endfor %}
        <img src="{{ absolute_url(asset('zenblog/assets/img/apple-touch-icon.jpg')) }}" alt="Logo de l'association" class="logo">
        {{ form_start(registrationForm, {'attr': {'id': 'userForm'}}) }}
        {% if referrer is defined and referrer %}
            <h2 class="form-title">Demande d'adhésion parrainé par : {{ referrer.firstName }} {{ referrer.name }}</h2>
            <input type="hidden" id="referrer" name="referrer" value = "{{referrer.id}}">
        {% else %}
            <h2 class="form-title">Demande d'adhésion</h2>
        {% endif %}
            
            <div class="form-section">
                <h3 class="form-section-title">Informations Personnelles</h3>
                <div class="form-group">
                    {{ form_row(registrationForm.name) }}
                </div>
                <div class="form-group">
                    {{ form_row(registrationForm.firstName) }}
                </div>
                <div class="form-group">
                    {{ form_row(registrationForm.phoneNumber) }}
                </div>
                <div class="form-group">
                    {{ form_row(registrationForm.nationality) }}
                </div>
            </div>

            <div class="form-section">
                <h3 class="form-section-title">Créer un compte</h3>
                <div class="form-group">
                    {{ form_row(registrationForm.username) }}
                </div>
                <div class="form-group">
                    {{ form_row(registrationForm.email) }}
                </div>
                <div class="form-group">
                    {{ form_row(registrationForm.plainPassword.first, { label: 'Mot de passe' }) }}
                </div>
                <div class="form-group">
                    {{ form_row(registrationForm.plainPassword.second, { label: 'Répétez le mot de passe' }) }}
                </div>
                <div class="form-group">
                    {{ form_row(registrationForm.joinedAt) }}
                </div>
            </div>

            <div class="form-section">
                <h3 class="form-section-title">Adresse</h3>
                <div class="form-group">
                    {{ form_row(registrationForm.address.number) }}
                </div>
                <div class="form-group">
                    {{ form_row(registrationForm.address.street) }}
                </div>
                <div class="form-group">
                    {{ form_row(registrationForm.address.city) }}
                </div>
                <div class="form-group">
                    {{ form_row(registrationForm.address.province) }}
                </div>
                <div class="form-group">
                    {{ form_row(registrationForm.address.country) }}
                </div>
                <div class="form-group">
                    {{ form_row(registrationForm.address.postalCode) }}
                </div>
            </div>

            {# <div class="form-section">
                <h3 class="form-section-title">Informations d'Adhésion</h3>
                <div class="form-group">
                    {{ form_row(registrationForm.membership.level) }}
                </div>
                <div class="form-group">
                    {{ form_row(registrationForm.membership.currency) }}
                </div>
                <div class="form-group">
                    {{ form_row(registrationForm.membership.fonction) }}
                </div>
                <div class="form-group">
                    {{ form_row(registrationForm.membership.membershipType) }}
                </div>
            </div> #}
            
            <div class="form-section row">
                <div class="col">{{ form_widget(registrationForm.agreeTerms, {label : "J'ai lu et accepté les "}) }}<a href="{{path('app_privacy')}}"> politiques de confidentialité</a></div>
                {# <div class="col">{{ form_row(registrationForm.joinedAt) }}</div> #}
                <div class="col"><button type="submit" class="btn btn-primary">S'inscrire</button></div>
            </div>
            
            <input type="hidden" id="latitude" name="latitude">
            <input type="hidden" id="longitude" name="longitude">
        {{ form_end(registrationForm) }}
    </div>
    <script>    
        $(document).ready(function() {
        $('.js-datepicker').datepicker({
            format: 'yyyy-mm-dd',
            autoclose: true,
            todayHighlight: true
            });
        });
    </script>

</body>
</html>




