{% extends 'base.html.twig' %}

{% block title %}Notification{% endblock %}

{% block body %}
    <h4>Notification</h4>

    <table class="table datatable">
        <thead>
            <tr>
                <th>#</th>
                <th>Type</th>
                <th>Contenu</th>
                <th>Lu</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
        {% for notification in notifications %}
            <tr>
                <td>{{ loop.index }}</td>
                <td><a href="{{ path('app_notification_show', {'id': notification.id}) }}" title ="cliquez ici pour voir les détails">{{ notification.type }}</a></td>
                <td>{{ notification.content|raw }}</td>
                <td>{{ notification.isRead ? '<i class="fa-solid fa-check"></i>' : '<i class="fa-solid fa-xmark"></i>' }}</td>
                <td>{{ notification.createdAt ? notification.createdAt|date('d-m-Y') : '' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucune notification</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('app_notification_new') }}">Create new</a> #}
{% endblock %}
