{% extends 'base.html.twig' %}

{% block title %}Les interfédérations{% endblock %}

{% block body %}
    <h1>Toutes les interfédérations</h1>

    <table class="table datatable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Designation</th>
                <th>SIF</th>
                <th>Membres</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for interfederation in interfederations %}
            <tr>
                <td>{{ interfederation.id }}</td>
                <td>{{ interfederation.designation }}</td>
                <td>{{ interfederation.sif.theUser.firstName }} {{ interfederation.sif.theUser.name }}</td>
                <td>{{ interfederation.memberships | length }}</td>
                <td>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <a href="{{ path('app_interfederation_show', {'id': interfederation.id}) }}" title="cliquez pour voir plus"><i class="fas fa-eye" title ="Voir"></i></a>
                    <a href="{{ path('app_interfederation_edit', {'id': interfederation.id}) }}" title="Cliquez pour modifier"><i class="fas fa-edit" title ="Modifier"></i></a>
                {% endif %}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <a class = "btn btn-primary" href="{{ path('app_interfederation_new') }}"><i class="fas fa-plus" title ="créer"></i>Créer</a>
    {% endif %}
{% endblock %}
