{{ form_start(form, {'attr': {'id': 'userForm'}}) }}
    <div class="row">
    <div class="col">    
    <fieldset class="row mb-3">
        <legend class="col-form-label col-sm-2 pt-0">Membre</legend>
        <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label">{{ form_label(form.firstName) }}</label>
            <div class="col-sm-10">
                {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label">{{ form_label(form.name) }}</label>
            <div class="col-sm-10">
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label">{{ form_label(form.username) }}</label>
            <div class="col-sm-10">
                {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputEmail" class="col-sm-2 col-form-label">{{ form_label(form.email) }}</label>
            <div class="col-sm-10">
                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="row mb-3">
            <label for="profileImage" class="col-sm-2 col-form-label">{{ form_label(form.photo) }}</label>
            <div class="col-sm-10">
                {{ form_widget(form.photo, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </fieldset>
    </div>
    <div class="col"> 
    <fieldset class="row mb-3">
        <legend class="col-form-label col-sm-2 pt-0">Adresse</legend>
        <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label">{{ form_label(form.address.street) }}</label>
            <div class="col-sm-10">
                {{ form_widget(form.address.street, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputNumber" class="col-sm-2 col-form-label">{{ form_label(form.address.number) }}</label>
            <div class="col-sm-10">
                {{ form_widget(form.address.number, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label">{{ form_label(form.address.city) }}</label>
            <div class="col-sm-10">
                {{ form_widget(form.address.city, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label">{{ form_label(form.address.province) }}</label>
            <div class="col-sm-10">
                {{ form_widget(form.address.province, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputText" class="col-sm-2 col-form-label">{{ form_label(form.address.country) }}</label>
            <div class="col-sm-10">
                {{ form_widget(form.address.country, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <input type="hidden" id="latitude" name="latitude">
        <input type="hidden" id="longitude" name="longitude">
    </fieldset>
    </div>
    {{ form_rest(form) }}
    </div>
    <button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

<script>
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition, showError, {
                enableHighAccuracy: true,
                timeout: 5000,
                maximumAge: 0
            });
        } else {
            console.error("La géolocalisation n'est pas supportée par ce navigateur.");
        }
    }

    function showPosition(position) {
        var latitude = position.coords.latitude;
        var longitude = position.coords.longitude;

        // Mettre à jour les champs cachés du formulaire
        document.getElementById('latitude').value = latitude;
        document.getElementById('longitude').value = longitude;

        // Soumettre le formulaire après avoir défini les coordonnées
        document.getElementById('userForm').submit();
    }

    function showError(error) {
        switch(error.code) {
            case error.PERMISSION_DENIED:
                console.error("L'utilisateur a refusé la demande de géolocalisation.");
                break;
            case error.POSITION_UNAVAILABLE:
                console.error("Les informations de localisation ne sont pas disponibles.");
                break;
            case error.TIMEOUT:
                console.error("La demande de localisation a expiré.");
                break;
            case error.UNKNOWN_ERROR:
                console.error("Une erreur inconnue est survenue.");
                break;
        }
    }

    document.getElementById('userForm').addEventListener('submit', function(event) {
        event.preventDefault(); // Empêche la soumission du formulaire initiale
        getLocation(); // Appelle la fonction pour obtenir la position
    });
</script>


<script>
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition, showError, {
                enableHighAccuracy: true,
                timeout: 5000,
                maximumAge: 0
            });
        } else {
            console.error("La géolocalisation n'est pas supportée par ce navigateur.");
        }
    }

    function showPosition(position) {
        var latitude = position.coords.latitude;
        var longitude = position.coords.longitude;

        // Mettre à jour les champs cachés du formulaire
        document.getElementById('latitude').value = latitude;
        document.getElementById('longitude').value = longitude;

        // Soumettre le formulaire après avoir défini les coordonnées
        document.getElementById('userForm').submit();
    }

    function showError(error) {
        switch(error.code) {
            case error.PERMISSION_DENIED:
                console.error("L'utilisateur a refusé la demande de géolocalisation.");
                break;
            case error.POSITION_UNAVAILABLE:
                console.error("Les informations de localisation ne sont pas disponibles.");
                break;
            case error.TIMEOUT:
                console.error("La demande de localisation a expiré.");
                break;
            case error.UNKNOWN_ERROR:
                console.error("Une erreur inconnue est survenue.");
                break;
        }
    }

    document.getElementById('userForm').addEventListener('submit', function(event) {
        event.preventDefault(); // Empêche la soumission du formulaire initiale
        getLocation(); // Appelle la fonction pour obtenir la position
    });
</script>

{# 





{{ form_start(form) }}

    <fieldset>
         <legend>Informations Utilisateur</legend>
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
    </fieldset>

    <fieldset>
        <legend>Adresse</legend>
        {{ form_row(form.address.street) }}
        {{ form_row(form.address.city) }}
        {{ form_row(form.address.country) }}
    </fieldset>

    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>

    {{ form_start(form) }}
        <fieldset class="row mb-3">
            <legend class="col-form-label col-sm-2 pt-0">Membre</legend>
                <div class="row mb-3">
                    <label for="inputText" class="col-sm-2 col-form-label">{{ form_label(form.firstName) }}</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" value="{{ form_widget(form.firstName) }}">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputText" class="col-sm-2 col-form-label">{{ form_label(form.name) }}</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" value="{{ form_widget(form.name) }}">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputText" class="col-sm-2 col-form-label">{{ form_label(form.username) }}</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" value="{{ form_widget(form.username) }}">
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="inputEmail" class="col-sm-2 col-form-label">{{ form_label(form.email) }}</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" value="{{ form_widget(form.email) }}" disabled>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputNumber" class="col-sm-2 col-form-label">{{ form_label(form.photo) }}</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="file" id="formFile" value="{{ form_widget(form.photo) }}">
                    </div>
                </div>

                <div class="row mb-3">
                  <label for="inputDate" class="col-sm-2 col-form-label">{{(form_label(form.joinedAt))}}</label>
                  <div class="col-sm-10">
                    <input type="date" class="form-control" value="{{ form_widget(form.joinedAt) }}">
                  </div>
                </div>

                <div class="row mb-3">
                    <label for="inputEmail" class="col-sm-2 col-form-label">{{ form_label(form.isActive) }}</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" value="{{ form_widget(form.isActive) }}" disabled>
                    </div>
                </div>
        </fieldset>

        <fieldset class="row mb-3">
            <legend class="col-form-label col-sm-2 pt-0">Adresse</legend>
            <div class="row mb-3">
                <label for="inputText" class="col-sm-2 col-form-label">{{ form_label(form.street) }}</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="{{ form_widget(form.street) }}">
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputText" class="col-sm-2 col-form-label">{{ form_label(form.city) }}</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="{{ form_widget(form.city) }}">
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputText" class="col-sm-2 col-form-label">{{ form_label(form.country) }}</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="{{ form_widget(form.country) }}">
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputNumber" class="col-sm-2 col-form-label">{{form_label(form.address.number)}}</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" value="{{ form_widget(form.address.number) }}">
                </div>
            </div>
        </fieldset>
        <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}






                <div class="row mb-3">
                  <label for="inputEmail" class="col-sm-2 col-form-label"></label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                  <div class="col-sm-10">
                    <input type="password" class="form-control">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputNumber" class="col-sm-2 col-form-label">Number</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputNumber" class="col-sm-2 col-form-label">File Upload</label>
                  <div class="col-sm-10">
                    <input class="form-control" type="file" id="formFile">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputDate" class="col-sm-2 col-form-label">Date</label>
                  <div class="col-sm-10">
                    <input type="date" class="form-control">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputTime" class="col-sm-2 col-form-label">Time</label>
                  <div class="col-sm-10">
                    <input type="time" class="form-control">
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="inputColor" class="col-sm-2 col-form-label">Color Picker</label>
                  <div class="col-sm-10">
                    <input type="color" class="form-control form-control-color" id="exampleColorInput" value="#4154f1" title="Choose your color">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputPassword" class="col-sm-2 col-form-label">Textarea</label>
                  <div class="col-sm-10">
                    <textarea class="form-control" style="height: 100px"></textarea>
                  </div>
                </div>
                <fieldset class="row mb-3">
                  <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
                  <div class="col-sm-10">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                      <label class="form-check-label" for="gridRadios1">
                        First radio
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                      <label class="form-check-label" for="gridRadios2">
                        Second radio
                      </label>
                    </div>
                    <div class="form-check disabled">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios" value="option" disabled>
                      <label class="form-check-label" for="gridRadios3">
                        Third disabled radio
                      </label>
                    </div>
                  </div>
                </fieldset>
                <div class="row mb-3">
                  <legend class="col-form-label col-sm-2 pt-0">Checkboxes</legend>
                  <div class="col-sm-10">

                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="gridCheck1">
                      <label class="form-check-label" for="gridCheck1">
                        Example checkbox
                      </label>
                    </div>

                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="gridCheck2" checked>
                      <label class="form-check-label" for="gridCheck2">
                        Example checkbox 2
                      </label>
                    </div>

                  </div>
                </div>

                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">Disabled</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" value="Read only / Disabled" disabled>
                  </div>
                </div>

                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">Select</label>
                  <div class="col-sm-10">
                    <select class="form-select" aria-label="Default select example">
                      <option selected>Open this select menu</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                  </div>
                </div>

                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">Multi Select</label>
                  <div class="col-sm-10">
                    <select class="form-select" multiple aria-label="multiple select example">
                      <option selected>Open this select menu</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                  </div>
                </div>

                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">Submit Button</label>
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit Form</button>
                  </div>
                </div>
{{ form_end(form) }}
 #}
