{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>Liste des utilisateurs</h1>

    <table class="table datatable">
        <thead>
            <tr>
                <th>Email</th>
                <th>Roles</th>
                <th>Date d'intégration</th>
                <th>Statut</th>
                <th>Pseudo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.joinedAt ? user.joinedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user.isActive ? 'Actif' : 'Inactif' }}</td>
                <td>{{ user.username }}</td>
                <td>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <a href="{{ path('app_user_crud_show', {'id': user.id}) }}"><i class="fas fa-eye" title ="Voir"></i></a>
                    <a href="{{ path('app_user_crud_edit', {'id': user.id}) }}"><i class="fas fa-edit" title ="Modifier"></i></a>
                    <a href="{{ path('app_user_crud_delete', {'id': user.id}) }}"><i class="fas fa-minus" title ="Supprimer"></i></a>
                {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">aucune donnée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-primary" href="{{ path('app_user_crud_new') }}">Créer un nouvel utilisateur</a>
    {% endif %}
{% endblock %}
