{% extends 'base.html.twig' %}
{% block title %}
    profile
{% endblock %}

{% block body %}
    {% if app.user == user %}
        <h1>Votre tableau de bord</h1>
    {% else %}
        <h1>Informations de {{ user.username }}</h1>
    {% endif %}
    

    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Informations personnelles</h5>
                    <div class="row">
                        <div class="col-md-6">
                            {% if user.photo %}
                                <img src="{{asset('uploads/photos/' ~ user.photo)}}" alt="Photo de profil" class="img-fluid rounded-circle mb-3" style="width: 150px; height: 150px;">
                            {% else %}
                                <li class="fas fa-user" style="width: 150px; height: 150px;">profil</li>
                            {% endif %}
                            {% if app.user == user %}
                                
                                <p><a href="{{path('update_password')}}" title ="changer le mot de passe">Changer mot de passe</a>
                                 <!-- Le lien de parrainage à corriger -->
                                    {# <strong>Votre lien de parrainage :</strong>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" id="referralLink" value="{{ referralLink }}" readonly>
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" type="button" id="copyButton">Copier</button>
                                        </div>
                                    </div>
                                    <div id="copyMessage" class="alert alert-success" style="display: none;">
                                        Lien copié dans le presse-papiers !
                                    </div> #}
                                </p><!-- Fin de l'affichage du lien de parrainage -->
                            {% endif %}
                        </div>
                        <div class="col-md-6">
                            <p><strong>Nom :</strong> {{ user.name }}</p>
                            <p><strong>Prénom :</strong> {{ user.firstName }}</p>
                            <p><strong>Email :</strong> {{ user.email }}</p>
                            <p><strong>Date d'inscription :</strong> {{ user.joinedAt|date('d/m/Y') }}</p>
                            <p><strong>Dernière activité :</strong> {{ user.lastActivityAt|date('d/m/Y H:i') }}</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if user.address and user.address.latitude and user.address.longitude and app.user == user %}
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Votre position</h5>
                        <div id="map" style="height: 300px; width: 100%;"></div>
                        {# <p>{{ user.address.city }}, {{ user.address.country }}</p> #}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
        {% if app.user == user %}
            <h2>Activités</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Vos commentaires</h5>
                            <p class="card-text">{{ user.posts|length }} commentaires</p>
                            <a href="{{ path('app_post_index') }}" class="btn btn-primary">voir tout</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Vos articles</h5>
                            <p class="card-text">{{ user.topics|length }} articles</p>
                            <a href="{{ path('app_topic_index') }}" class="btn btn-primary">voir tout</a>
                        </div>
                    </div>
                </div>
                {# <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Polls</h5>
                            <p class="card-text">{{ user.polls|length }} polls</p>
                            <a href="{{ path('app_poll_index') }}" class="btn btn-primary">Voir les polls</a>
                        </div>
                    </div>
                </div> #}
                <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Vos documents</h5>
                            <p class="card-text">{{ user.documents|length }} documents</p>
                            <a href="{{ path('app_document_index') }}" class="btn btn-primary">voir tout</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Événements organisés</h5>
                            <p class="card-text">{{ user.events|length }} événements</p>
                            <a href="{{ path('app_event_index') }}" class="btn btn-primary">Voir les événements organisés</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Événements participés</h5>
                            <p class="card-text">{{ user.eventsParticipants|length }} événements</p>
                            <a href="{{ path('app_event_index') }}" class="btn btn-primary">Voir les événements participés</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Messages</h5>
                            <p class="card-text">{{ user.messages|length }} messages</p>
                            <a href="{{ path('app_message_index') }}" class="btn btn-primary">voir tout</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Notifications</h5>
                            <p class="card-text">{{ user.notifications|length }} notifications</p>
                            <a href="{{ path('app_notification_index') }}" class="btn btn-primary">voir tout</a>
                        </div>
                    </div>
                </div>
                {# <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Canaux</h5>
                            <p class="card-text">{{ user.channels|length }} canaux</p>
                            <a href="{{ path('app_channel_index') }}" class="btn btn-primary">Voir les canaux</a>
                        </div>
                    </div>
                </div> #}
            </div>
        {% endif %}

    {% if user.address and user.address.latitude and user.address.longitude and app.user == user %}
        <script>
            var map = L.map('map').setView([{{ user.address.latitude }}, {{ user.address.longitude }}], 15);

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '© <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);

            L.marker([{{ user.address.latitude }}, {{ user.address.longitude }}]).addTo(map)
                .bindPopup('{{ user.address.city }}, {{ user.address.country }}')
                .openPopup();
        </script>

        <script>
            document.getElementById('copyButton').addEventListener('click', function() {
                var copyText = document.getElementById('referralLink');
                copyText.select();
                copyText.setSelectionRange(0, 99999); // Pour les mobiles

                document.execCommand('copy');

                var copyButton = document.getElementById('copyButton');
                copyButton.textContent = 'Copié';
                copyButton.classList.remove('btn-outline-secondary');
                copyButton.classList.add('btn-success');

                var copyMessage = document.getElementById('copyMessage');
                copyMessage.style.display = 'block';
                setTimeout(function() {
                    copyMessage.style.display = 'none';
                    copyButton.textContent = 'Copier';
                    copyButton.classList.remove('btn-success');
                    copyButton.classList.add('btn-outline-secondary');
                }, 2000);
            });
        </script>
    {% endif %}
{% endblock %}
