{% extends 'base.html.twig' %}
    {% block title %}Message{% endblock %}
    {% block stylesheet %}
        <link href="{{asset('css/message.css')}}" rel="stylesheet">
    {% endblock %}
{% block body %}
<div class="body">
    <div class="container">
        <div class="expediteurs">
            <ul>
                {% for senderData in senders %}
                    <li onclick="window.location.href='{{ path('app_message_index', {'userId': senderData.user.id}) }}'">
                            <img style="width: 50px; height: 50px;" src="{{ asset('uploads/photos/' ~ senderData.user.photo) }}" alt="{{ senderData.user.username }}">                        <div>
                            <strong>{{ senderData.user.username }}</strong><br>
                            {# <small>{{ senderData.unreadCount }} non lus</small> #}
                        </div>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="sms">
            <div class="sms-header">
                {% if selectedUser %}
                    <img src="{{ '' }}" alt="{{ selectedUser.username }}">
                    <strong>{{ selectedUser.username }}</strong>
                {% else %}
                    <strong>Sélectionnez un utilisateur</strong>
                {% endif %}
            </div>
            <div class="sms-content">
                {% if messages is not empty %}
                    {% for message in messages %}
                        <div class="mon-message {{ message.sender.id == app.user.id ? 'sent' : 'received' }}">
                            {{ message.content }}
                            <small>{{ message.createdAt|date('Y-m-d H:i') }}</small>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Sélectionnez un utilisateur pour voir les messages échangés.</p>
                {% endif %}
            </div>
            {% if selectedUser %}
                <div class="mon-message-input">
                    <form action="{{ path('send_message') }}" method="post">
                        <input type="hidden" name="recipientId" value="{{ selectedUser.id }}">
                        <input type="text" name="content" placeholder="Écrire un message...">
                        <button type="submit"><i class="fas fa-sms"></i></button>
                    </form>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
