<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %}Bienvenu{% endblock %}</title>        
        <link href="{{asset('dropdown/assets/img/favicon.jpg')}}" rel="icon">
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{asset('css/styles.css')}}" rel="stylesheet" />

        <!-- Vendor CSS Files -->
        <link href="{{asset('dropdown/assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{asset('dropdown/assets/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
        <link href="{{asset('dropdown/assets/vendor/aos/aos.css')}}" rel="stylesheet">
        <link href="{{asset('dropdown/assets/vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
        <link href="{{asset('dropdown/assets/vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">

        <!-- Main CSS File -->
        <link href="{{asset('dropdown/assets/css/main.css')}}" rel="stylesheet">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <!-- Navigation-->
        {{ include('ad-on/nav.html.twig') }}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{ asset('dropdown/assets/img/unc/unc-vital-kamerhe.jpeg') }}')">

            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1 class="navbar-brand" href="{{ path('app_home') }}" style="font-size: 8em; color: red;">UNC</h1>
                            <span class="subheading">Mopepe ya sika</span>
                            <a class="navbar-brand" href="#">Mokolo tonga</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                {% block body %}{% endblock %}
        <!-- Main Content-->
            </div>
        </div>
        <!-- Footer-->
        <footer class="border-top">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <ul class="list-inline text-center">
                            <li class="list-inline-item">
                                <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <div class="small text-center text-muted fst-italic">Copyright &copy; unc 2024</div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{{asset('js/scripts.js')}}"></script>
        <!-- Vendor JS Files -->
        {# <script src="{{asset('dropdown/assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script> #}
        <script src="{{asset('dropdown/assets/vendor/php-email-form/validate.js')}}"></script>
        <script src="{{asset('dropdown/assets/vendor/aos/aos.js')}}"></script>
        <script src="{{asset('dropdown/assets/vendor/glightbox/js/glightbox.min.js')}}"></script>
        <script src="{{asset('dropdown/assets/vendor/purecounter/purecounter_vanilla.js')}}"></script>
        <script src="{{asset('dropdown/assets/vendor/swiper/swiper-bundle.min.js')}}"></script>

        <!-- Main JS File -->
        <script src="{{asset('dropdown/assets/js/main.js')}}"></script>
    </body>
</html>
