{# templates/post/search.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Recherche de Posts{% endblock %}

{% block body %}
    <h1>Résultats de la recherche</h1>

    {% if posts is empty %}
        <p>Aucun post trouvé.</p>
    {% else %}
        <ul>
            {% for post in posts %}
                <li>
                    <strong>Auteur :</strong> {{ post.author.username }}<br>
                    <strong>Thème :</strong> {{ post.topic.title }}<br>
                    <strong>Contenu :</strong> {{ post.content }}<br>
                    <strong>Date de création :</strong> {{ post.createdAt|date('d/m/Y H:i') }}<br>
                    <strong>Dernière modification :</strong> {{ post.updatedAt|date('d/m/Y H:i') }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
