{% extends 'base.html.twig' %}

{% block title %}Membership{% endblock %}

{% block body %}
    <h1>Les membres</h1>

    <table class="table datatable">
        <thead>
            <tr>
                <th>Membre</th>
                <th>Niveau</th>
                <th>Cotisation</th>
                <th>Date de paiement</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for membership in memberships %}
            <tr>
                <td>{{ membership.theUser.username }}</td>
                <td>{{ membership.level }}</td>
                <td>{{ membership.feeAmount }}</td>
                <td>{{ membership.feePaidAt ? membership.feePaidAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_membership_show', {'id': membership.id}) }}">voir</a>
                    <a href="{{ path('app_membership_edit', {'id': membership.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune donnée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_membership_new') }}" class="btn btn-primary">Ajouter</a>
{% endblock %}
