{% extends 'base.html.twig' %}

{% block title %}nouveau membre{% endblock %}

{% block body %}
    <h1>Confirmation de la demande d'adhésion</h1>

    {{ include('membership/_form.html.twig') }}

    <a href="{{ path('app_membership_index') }}">Retour</a>
{% endblock %}

  {% block javascripts %}
    <script>
        var fonctions = {{ fonctionsJson|raw }};
    </script>
    <script src="{{asset('js/membership.js')}}"></script>
  {% endblock %}

  {% block form %}
    {{ form_start(form) }}
    {% if id %}
        {{ form_row(form.theUser, {'attr': {'disabled': 'disabled'}}) }}
        {{ form_row(form.interfederation, {'attr': {'disabled': 'disabled'}}) }}
    {% else %}
        {{ form_row(form.theUser) }}
        {{ form_row(form.interfederation) }}
    {% endif %}
    <button type="submit" class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
    {{ form_end(form) }}
{% endblock %}