{% extends 'base.html.twig' %}

{% block title %}Membership{% endblock %}

{% block body %}
    <h1>Membership</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ membership.id }}</td>
            </tr>
            <tr>
                <th>Level</th>
                <td>{{ membership.level }}</td>
            </tr>
            <tr>
                <th>FeeAmount</th>
                <td>{{ membership.feeAmount }}</td>
            </tr>
            <tr>
                <th>FeePaidAt</th>
                <td>{{ membership.feePaidAt ? membership.feePaidAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_membership_index') }}">back to list</a>

    <a href="{{ path('app_membership_edit', {'id': membership.id}) }}">edit</a>

    {{ include('membership/_delete_form.html.twig') }}
{% endblock %}
