{% extends 'base.html.twig' %}

{% block title %}Membership{% endblock %}

{% block body %}
    <h1>Membership</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ membership.id }}</td>
            </tr>
            <tr>
                <th>Level</th>
                <td>{{ membership.level }}</td>
            </tr>
            <tr>
                <th>Fonction</th>
                <td>{{ membership.fonction }}</td>
            </tr>
            <tr>
                <th>Catégorie</th>
                <td>{{ membership.membershipType }}</td>
            </tr>
            <tr>
                <th>Votre interfédération</th>
                <td>{{ membership.interfederation}}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-secondary" href="{{ path('app_membership_index') }}">back to list</a>

    <a class="btn btn-info" href="{{ path('app_membership_edit', {'id': membership.id}) }}">edit</a>

    {{ include('membership/_delete_form.html.twig') }}
{% endblock %}
